body {
    background: rgb(12, 59, 6);
    color: rgb(3 147 29);
    margin: 0px;
    font-family: "Quicksand", sans-serif;
}

header {
    border-bottom: solid 3px rgb(110, 168, 18);
    padding: 10px;
    font-size: 32px;
    color: rgb(173, 173, 173);
    font-family: "Archivo Black", sans-serif;
    font-size: 40px;
}

.chamada {
    background: rgb(44, 34, 13);
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.chamada-texto {
    margin-right: 3%;
}

h1 {
    font-size: 30px;
    margin-left: 3%;
}

p {
    font-size: 15px;
    margin-left: 3%;
    margin-right: 3%;
    color: rgb(126, 124, 121);
}

.categoria-video {
    display: flex;
}

.alguma-coisa {
    background: rgb(44, 34, 13);
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.videos-br {
    background: rgb(44, 34, 13);
    padding: 10px;
    justify-content: center;
    margin-bottom: 1%;
}

.videos {
    display: flex;
    overflow-x: auto;
    gap: 5px;
    margin-left: 2%;
}

h3 {
    margin-left: 2%;
}

.videos img {
    opacity: 0.5;
    height: 150px;
}
.videos img:hover{
    opacity: 1.0;
    border: 1px solid green;
}
h2{
    font-size: 30px;
    margin-left: 3%;
}